<form (ngSubmit)="save(f.value)"   #f="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title"
            type="text"
            class="form-control"
            name="title"
            ngModel
            required
            >
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <div class="input-group">

      <span class="input-group-text">$</span>

    <input id="price" name="price" type="text" class="form-control" ngModel required>
    </div>
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <select id="category"  name="category" class="form-select" ngModel required>
      <option></option>
      <option *ngFor="let category of categories" [value]="category.key">{{category.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="imageUrl">Image Url</label>
    <input name="imageUrl" id="imageUrl" type="text" class="form-control" ngModel required>
  </div>
  <br>
  <button class="btn btn-primary"> Save</button>


</form>
